<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration">

<hibernate-configuration>
    <session-factory>

        <!-- JDBC -->
        <property name="hibernate.connection.driver_class">
            org.sqlite.JDBC
        </property>

        <property name="hibernate.connection.url">
            jdbc:sqlite:C:/sqlite/db/DontGetAngry.db
        </property>

        <!-- SQLite Dialect -->
        <property name="hibernate.dialect">
            org.hibernate.community.dialect.SQLiteDialect
        </property>

        <!-- Schema -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Debug -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Entities -->
        <mapping class="zgkprojekt.entity.User"/>

    </session-factory>
</hibernate-configuration>
